@charset "utf-8";
/* CSS Document */

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 20px;
	display: block;
	margin: 8px;
	overflow-x: hidden;
}

div{
  	
}

.craft {
	color: #777;
	background-color: white;
	padding: 50px 80px;
	text-align: justify;
} 



/*image*/
.pic {
	background-image: url("../images/fit(3).jpg");
	height: 500px;
	background-size: 100%;
	position: relative;
	opacity: 0.65;
	background-position: center;
	background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: green;
}

.caption span.border {
	background-color: green;
	color: white;
	padding: 18px;
	width: 100px;
	font-size: 25px;
	
}

/*image end*/



  .media {
    display: flex;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 24em;
  }
  .media-object {
    margin-right: 1em;
  }
  .media-body {
    flex: 1;
  }
  .media-heading {
    margin: 0 0 .5em;
  }


.pic1 {
	background-image: url("../images/wallhaven-neo73r.png");
	min-height: 500px;
	background-position: center top;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	margin: 0 auto;
}

/* media queries */

@media screen and (max-width: 600px) {
  .craft a:not(:first-child) {display: none;}

}

@media screen and (max-width:600px){
	.craft.responsive {
		position: relative;
	}
	
}


