@charset "utf-8";


html{
    scroll-behavior: smooth;
}

body{
	margin: 0;
    font-family: 'Times New Roman', Times, serif;
	margin: 8px;
    font-size: 20px;
	display: block;
	overflow-x: hidden;
}


.day1 {
	border: none;
	background-color: #a19a8f;
	background-repeat: no-repeat;
  	background-origin: padding-box;
	padding: 25px;
	border-radius: 3px;
}

.day2 {
	border: none;
	background-color: #724e14;
	background-repeat: no-repeat;
  	background-origin: padding-box;
	padding: 25px;
}



 .media {
    display: flex;
    padding: 1em;
    width: 100%;
  }

  .media-object {
    margin-left: 1em;
    order: 1;
  }

  .media-object2 {
    margin-left: 1em;
    order: -1;
  }

  .media-body {
    flex: 1;
  }

  .media-heading {
    margin: 0 0 .5em;
  }

 .vid{
	 width:520px; 
	 height:445px;
	 border: none;
}

@media screen and (min-width:320px) {
	body {
		font-size: 20px;
	}
}

@media screen and (max-width:320px){
	img {
		width: 250px; 
   		height: 250px;
 }
}
.para {
	margin-left: 1em;
}

.space {
	line-height: 150%;
	padding: 25px;
}
